.card {
  margin: 10px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  background: red;

  &.green {
    background: green;
  }
  &.blue {
    background: blue;
  }
  &.yellow {
    background: yellow;
    color: black;
  }
}
